__pycache__/
agents/__pycache__/
agents/arm/__pycache__/
agents/baselines/__pycache__/
agents/baselines/bc_lang/__pycache__/
agents/baselines/vit_bc_lang/__pycache__/
agents/c2farm_lingunet_bc/__pycache__/
agents/peract_bc/__pycache__/
ckpts/
data/
helpers/__pycache__/
helpers/clip/__pycache__/
helpers/clip/core/__pycache__/
helpers/optim/__pycache__/
outputs/
peract.egg-info/
voxel/__pycache__/
logs/
misc
replay/
analysis.zip
create_sbatch_jobs.py
init_batch.sh
logs_*/
slurm_outputs/
slurm_scripts/
demo*
misc.ipynb
